---
import Navbar from "../components/navbar.svelte";
import "../styles/index.css";
import { Icon } from "astro-icon";
import CopyToClipboard from "../components/copyToClipboard.svelte";

interface Props {
  content: {
    title: string;

    date: string;

    description: string;
    tags: string[];
  };
}

const {
  content: { title, date, tags },
} = Astro.props as Props;

const path = Astro.url;

const icons = [
  {
    icon: "fe:twitter",
    bg: "bg-sky-700",
    url: `https://twitter.com/intent/tweet?text=Check out Pranjal's blog! ${title}&url=${path}`,
  },
  {
    icon: "ph:reddit-logo-fill",
    bg: "bg-orange-700",
    url: `https://reddit.com/submit?url=${path}&title=${title}`,
  },
  {
    icon: "mdi:linkedin",
    bg: "bg-cyan-900",
    url: `http://www.linkedin.com/shareArticle?mini=true&url=${path}`,
  },
  {
    icon: "ic:round-mail",
    bg: "bg-red-700",
    url: `mailto:?subject=${title}&body=${path}`,
  },
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/blogLogo.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body
    class="flex flex-col w-full justify-start h-full min-h-screen font-sans text-white bg-neutral-900"
  >
    <Navbar />
    <main
      class="flex flex-col mx-auto h-full flex-1 md:max-w-3xl w-full gap-10 md:py-8 py-4 md:px-2 px-4"
    >
      <div class="flex flex-col gap-4 leading-none">
        <h1 class="md:text-4xl text-2xl font-medium">{title}</h1>
        <span class="text-base font-semibold text-neutral-400">{date}</span>
        <div class="flex flex-row gap-2 flex-wrap">
          {
            tags.map((tag) => (
              <span class="bg-neutral-800 text-base px-2 py-1">{tag}</span>
            ))
          }
        </div>
        <div class="flex flex-row gap-2">
          {
            icons.map((social) => {
              return (
                <a href={social.url} target="_blank" rel="noopener noreferrer">
                  <Icon
                    name={social.icon}
                    class={"h-8 aspect-square rounded-full p-1 " + social.bg}
                  />
                </a>
              );
            })
          }
          <CopyToClipboard client:load />
        </div>
      </div>
      <div class="prose md:max-w-full max-w-full">
        <slot />
      </div>
    </main>
  </body>
</html>
