---
import Navbar from "../components/navbar.svelte";
import "../styles/index.css";
import { Icon } from "astro-icon";
import CopyToClipboard from "../components/copyToClipboard.svelte";

interface Props {
  content: {
    title: string;
    author: string;
    date: string;
    authorImage: string;
    description: string;
    tags: string[];
  };
}

const {
  content: { title, date, tags, author, authorImage },
} = Astro.props as Props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/Blog512x512.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body
    class="flex flex-col w-full justify-start h-full min-h-screen font-sans text-white bg-slate-800"
  >
    <Navbar />
    <main
      class="flex flex-col mx-auto h-full justify-center flex-1 desktop:max-w-[72rem] w-full px-4 gap-10 my-4"
    >
      <div class="flex flex-col gap-3 leading-none">
        <h1 class="desktop:text-6xl text-3xl font-semibold">{title}</h1>
        <div class="flex flex-row items-center gap-2">
          <img class="h-8 aspect-square rounded-full" src={authorImage} /><p
            class="desktop:text-base font-semibold"
          >
            {author}
          </p> /
          <span class="text-base font-semibold text-neutral-400">{date}</span>
        </div>
        <div class="flex flex-row gap-2 flex-wrap">
          {
            tags.map((tag) => (
              <span class="bg-slate-600 font-semibold rounded text-base px-1 py-0.5">
                {tag}
              </span>
            ))
          }
        </div>
        <div class="flex flex-row gap-2">
          {
            [
              {
                icon: "fe:twitter",
                bg: "bg-sky-600",
                url: `https://twitter.com/intent/tweet?text=Check out Pranjal's blog! ${title}&url=${Astro.url}`,
              },
              {
                icon: "ph:reddit-logo-fill",
                bg: "bg-orange-600",
                url: `https://reddit.com/submit?url=${Astro.url}&title=${title}`,
              },
              {
                icon: "mdi:linkedin",
                bg: "bg-cyan-800",
                url: `http://www.linkedin.com/shareArticle?mini=true&url=${Astro.url}`,
              },
              {
                icon: "ic:round-mail",
                bg: "bg-red-600",
                url: `mailto:?subject=${title}&body=${Astro.url}`,
              },
            ].map((social) => {
              return (
                <a href={social.url}>
                  <Icon
                    name={social.icon}
                    class={"h-8 aspect-square rounded-full p-1 " + social.bg}
                  />
                </a>
              );
            })
          }
          <CopyToClipboard client:load />
        </div>
      </div>
      <div class="prose desktop:max-w-full max-w-full">
        <slot />
      </div>
    </main>
  </body>
</html>
